h1 {
  color:red;
  text-align:center;
}

h2 {
  color:purple;
  text-align:left;
  text-format:
}

ul {
  list-style:square;
  padding:5px;
  text-style:bold;
}

div.position {
  position:static;
  margin:bottom;
  padding:5px;
  border:solid;
}
